- model_class = Category
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize

#jstree_categories

%br
%br

= link_to t('Create'), "#", :class => 'btn btn-success', :id => 'create_category'
= link_to t('Rename'), "#", :class => 'btn btn-warning', :id => 'rename_category'
= link_to t('Delete'), "#", :class => 'btn btn-danger',  :id => 'delete_category'
